.headerRow {
  width: 100vw;
  height: 80vh;
  color: white;
  text-align: center;
}

.homePageTitle {
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.productSummaryText {
  font-size: 1.3rem;
}
