.footer {
  width: 100%;
  text-align: center;
  background: #f2f2f2;
  height: 121;
}

.footerIcon {
  font-size: 2.1rem;
}

.iconAnchor {
  margin-right: 10px;
  margin-left: 10px;
}

.footerName {
  font-size: min(1.3rem, 5.5vw);
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
