.dailyStatsCard {
  width: 100%;
  margin-top: 3.3vh;
}

.dailyStatsCard {
  box-shadow: 0px 0px 9px -3px gray;
}

.dailyStatsCardTitle {
  text-align: center;
}

.kcal {
  color: #757575 !important;
}
